.error-message {
    color: red;
    margin-top: 10px;
  }

  .button:disabled {
    /* Faded effect for disabled buttons */
    background-color: #486581;
    color: white;
    opacity: 0.5;
    cursor: not-allowed;
  }