@import '../../styles.css';

.selections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
}
.selections select {
    color: white;  
    background-color: #333;  
}


.selections select option {
    color: black;  
    background-color: white;  
}